Repository GNOME/gnome-control-center, changes with the owners that docs/CODEOWNERS names for each.
All owners: @felipeborges, @robert_ancell, @cyberphantom52, @pksadiq, @hadess, @mkasik, @melix99, @carlosg

Update Italian translation
  po/it.po
Owners: @felipeborges, @robert_ancell

Update Punjabi translation
  po/pa.po
Owners: @felipeborges, @robert_ancell

Update British English translation
  po/en_GB.po
Owners: @felipeborges, @robert_ancell

power: Use ISO-31-0 as default standard for showing batter charge percentage
  panels/power/cc-battery-row.c
Owners: @felipeborges, @robert_ancell

power: Make battery level percentage string translatable
  panels/power/cc-battery-row.c
Owners: @felipeborges, @robert_ancell

user-accounts: Allow new password insert iff the old one is right
  panels/user-accounts/cc-password-dialog.c
Owners: @felipeborges, @robert_ancell

Update Korean translation
  po/ko.po
Owners: @felipeborges, @robert_ancell

keyboard: Add debug message when launching keyboard previewer
  panels/keyboard/cc-input-list-box.c
Owners: @felipeborges, @robert_ancell

build: Build tecla as a subproject if not found
  meson.build
  subprojects/tecla.wrap
Owners: @felipeborges, @robert_ancell

keyboard: Call "tecla" previewer through full path
  panels/keyboard/cc-input-list-box.c
  panels/keyboard/meson.build
Owners: @felipeborges, @robert_ancell

Update Catalan translation
  po/ca.po
Owners: @felipeborges, @robert_ancell

Update Faroese translation
  po/fo.po
Owners: @felipeborges, @robert_ancell

Update Faroese translation
  po/fo.po
Owners: @felipeborges, @robert_ancell

Update Swedish translation
  po/sv.po
Owners: @felipeborges, @robert_ancell

Update Occitan translation
  po/oc.po
Owners: @felipeborges, @robert_ancell

Update Brazilian Portuguese translation
  po/pt_BR.po
Owners: @felipeborges, @robert_ancell

Update Hungarian translation
  po/hu.po
Owners: @felipeborges, @robert_ancell

info-overview: Unselect system details label
  panels/info-overview/cc-system-details-window.c
Owners: @cyberphantom52

universal-access: only store current icon them if not HighContrast activated
  panels/universal-access/cc-ua-seeing-page.c
Owners: @pksadiq

online-accounts: Add line-breaks to log messages
  panels/online-accounts/gnome-control-center-goa-helper.c
Owners: @felipeborges, @robert_ancell

Update Slovenian translation
  po/sl.po
Owners: @felipeborges, @robert_ancell

Update Galician translation
  po/gl.po
Owners: @felipeborges, @robert_ancell

Update Slovenian translation
  po/sl.po
Owners: @felipeborges, @robert_ancell

Update Slovenian translation
  po/sl.po
Owners: @felipeborges, @robert_ancell

Update French translation
  po/fr.po
Owners: @felipeborges, @robert_ancell

search: Fix crash when selecting fodler with a File dialog
  panels/search/cc-search-locations-dialog.c
Owners: @felipeborges, @robert_ancell

universal-access: only store current icon them if not HighContrast activated
  panels/universal-access/cc-ua-seeing-page.c
Owners: @pksadiq

wifi: Hide QR Code button for unsupported security
  panels/network/cc-qr-code.c
  panels/network/cc-qr-code.h
  panels/network/cc-wifi-connection-row.c
Owners: @felipeborges, @robert_ancell

keyboard: write to mru-sources setting if it has never been set before
  panels/keyboard/cc-input-list-box.c
Owners: @felipeborges, @robert_ancell

44.4
  NEWS
  meson.build
Owners: @felipeborges, @robert_ancell

45.0
  NEWS
  shell/appdata/org.gnome.Settings.appdata.xml.in
Owners: @felipeborges, @robert_ancell

ci: Build glib from the source
  .gitlab-ci.yml
Owners: @felipeborges, @robert_ancell

Post-release version bump
  meson.build
Owners: @felipeborges, @robert_ancell

ci: Build glib from the source
  .gitlab-ci.yml
Owners: @felipeborges, @robert_ancell

Update Russian translation
  po/ru.po
Owners: @felipeborges, @robert_ancell

Update Latvian translation
  po/lv.po
Owners: @felipeborges, @robert_ancell

Update Kazakh translation
  po/kk.po
Owners: @felipeborges, @robert_ancell

data: mark translatable strings yes
  panels/network/connection-editor/wireguard-page.ui
  panels/network/connection-editor/wireguard-peer.ui
  panels/network/network-ethernet.ui
  panels/wacom/calibrator/calibrator.ui
Owners: @felipeborges, @robert_ancell

info-overview: Add more types of processor support
  panels/info-overview/cc-system-details-window.c
Owners: @cyberphantom52

data: add missing wireguard-peer.ui to POTFILES.in
  po/POTFILES.in
Owners: @felipeborges, @robert_ancell

docs/CODEOWNERS:

# These are the people responsible for Settings panels and domain-specific
# parts of the GNOME Settings codebase.
#
# If you open a merge request for files listed here, please add the following
# people to the list of reviewers.

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GNOME Settings code base, add yourself here.

# General maintainers
*	@felipeborges @robert_ancell

# Panels
## About
panels/info-overview/*		@cyberphantom52

## Accessibility
panels/universal-access/*	@pksadiq

## Bluetooth
panels/bluetooth/*		@hadess

## Printers
panels/printers/*		@mkasik

## Sound
panels/sound/*			@melix99

## Wacom
panels/wacom/*			@carlosg

## WWAN (Cellular)
panels/wwan/*			@pksadiq
